/*!
 * SeerUK - DWright
 * CoreBundle
 *
 * Copyright 2012 Elliot Wright
 * Created to stylishly craft the base of my dads website...
 * Very modern and stylish indeed...
 */

/**
 * Page Setup
 */
body {
	background-color: white;
	color: #ccc;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 24px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol > li,
ul > li,
td {
	-webkit-font-smoothing: antialiased;
}


p {
	line-height: 26px;
	margin-bottom: 20px;
}

p,
.mobilefix {
	max-height: 9999999px;
}

.container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: auto;
}

.emp {
	color: #f74f4f;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.muted {
	color: #aaa;
}

	.muted-emp {
		background-color: #f2f2f2;
		display: inline-block;
		line-height: 100%;
		padding: 4px;
	}


.hero-unit,
.header-unit {
	background-color: #363F48;
	color: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	font-size: 60px;
	padding: 120px 50px 140px;
	text-align: center;
}

	.hero-unit > h1,
	.hero-unit > small {
		display: block;
		margin: 0 auto;
		max-width: 980px;
	}

	.hero-unit > h1 {
		line-height: 1.2;
	}

	.hero-unit > small {
		color: #A7ABB1;
		font-size: 20px;
		letter-spacing: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: normal;
	}

.header-unit {
	background-color: #242B33;
	max-width: 100%;
	padding: 6px 50px;
}

	.header-unit .header-title {
		float: left;
		font-size: 26px;
	}

		.header-unit .header-title > a,
		.header-unit .header-title > a:hover {
			color: white;
			text-decoration: none;
		}


.footer {
	color: #666;
	font-size: 12px;
	text-align: center;
	padding-bottom: 30px;
}

	.footer > em {
		color: #999;
		font-style: normal;
	}


.primary-nav {
	float: right;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 23px;
}

	.primary-nav > ul {
		list-style: none;
		margin: 0;
	}

		.primary-nav > ul > li {
			border-left: 2px solid #444;
			display: block;
			float: left;
			font-size: 13px;
			margin: 0;
			padding: 0 15px;
			text-transform: uppercase;
			font-weight: bold;
		}

			.primary-nav > ul > li:first-child {
				border-left: none;
			}

			.primary-nav > ul > li,
			.primary-nav > ul > li > a {
				color: #777;
				-webkit-transition: .07s ease-in;
				-moz-transition: .07s ease-in;
				-o-transition: .07s ease-in;
				transition: .07s ease-in;
			}

				.primary-nav > ul > li.active,
				.primary-nav > ul > li.active > a,
				.primary-nav > ul > li > a:hover {
					color: white;
					cursor: pointer;
					text-decoration: none;
				}


.content {
	color: #363F48;
}

.content-form {
	padding-top: 40px;
}

.content-title {
	font-size: 52px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 62px;
}


/**
 * Forms!
 */


form {
	margin: 0;
	padding: 0;
}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		box-sizing: border-box;
		height: 39px;
		margin-bottom: 40px;
		padding: 9px 10px 8px;
		width: 100%;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus {
			border-color: rgba(87, 99, 121, 0.8);
		}

	label small {
		color: #999;
	}


/**
 * Buttons!
 */

.btn {
	background-color: #eee;
	background-image: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 15px;
	text-shadow: none;
}

	.btn.btn-success {
		background-color: #7CC576;
	}

		.btn.btn-success:hover {
			background-color: #6BB665;
		}

	.btn.btn-primary {
		background-color: #728EA8;
	}

		.btn.btn-primary:hover {
			background-color: #5F7C97;
		}

/**
 * Alerts!
 */

.alert {
	background: #F26C4F;
	color: white;
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: none;
}


/**
 * Responsive!
 */

@media (min-width: 0px) and (max-width: 1280px) {

	.hero-unit {
		padding: 90px 50px 110px;
	}

}

@media (min-width: 0px) and (max-width: 940px) {

	body {
		margin: 0;
		padding: 0;
	}

	form {
		padding: 0 20px;
	}

	.container,
	.header-unit {
		min-width: 400px;
		max-width: 940px;
	}

	.container {
		padding: 0;
	}

	.header-unit {
		padding: 0;
	}

		.header-unit .header-title {
			float: none;
			margin-bottom: 0;
		}

	.hero-unit {
		padding: 50px 6%;
	}

		.hero-unit h1 {
			font-size: 36px;
			margin-bottom: 10px;
		}

		.hero-unit small {
			font-size: 14px;
		}

	.primary-nav {
		float: none;
		margin: 0 0 10px;
	}

		.primary-nav > ul {
			display: inline-block;
			margin: 0 auto;
		}
}