/*!
 * SeerUK - DWright
 * CoreBundle
 *
 * Copyright 2012 Elliot Wright
 * Created to stylishly craft the base of my dads website...
 * Very modern and stylish indeed...
 */

/**
 * Page Setup
 */
body {
	background-color: white;
	color: #ccc;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 24px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol > li,
ul > li,
td {
	-webkit-font-smoothing: antialiased;
}


p {
	line-height: 30px;
}

p,
.mobilefix {
	max-height: 9999999px;
}

.container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: auto;
}

.emp {
	color: #f74f4f;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.muted {
	color: #aaa;
}

	.muted-emp {
		background-color: #f2f2f2;
		display: inline-block;
		line-height: 100%;
		padding: 4px;
	}


.hero-unit,
.header-unit {
	background-color: #363F48;
	color: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	font-size: 60px;
	padding: 120px 50px 140px;
	text-align: center;
}

	.hero-unit > h1,
	.hero-unit > small {
		display: block;
		margin: 0 auto;
		max-width: 980px;
	}

	.hero-unit > h1 {
		line-height: 1.2;
	}

	.hero-unit > small {
		color: #A7ABB1;
		font-size: 20px;
		letter-spacing: 0;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: normal;
	}

.header-unit {
	background-color: #242B33;
	max-width: 100%;
	padding: 6px 50px;
}

	.header-unit .header-title {
		float: left;
		font-size: 26px;
	}

		.header-unit .header-title > a,
		.header-unit .header-title > a:hover {
			color: white;
			text-decoration: none;
		}


.footer {
	color: #666;
	font-size: 12px;
	text-align: center;
	padding-bottom: 30px;
}

	.footer > em {
		color: #999;
		font-style: normal;
	}


.primary-nav {
	float: right;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 3px;
}

	.primary-nav > ul {
		list-style: none;
	}

		.primary-nav > ul > li {
			display: inline-block;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: bold;
		}

			.primary-nav > ul > li:after {
				color: #444;
				content: "|";
				font-size: 15px;
				margin-left: 15px;
			}

				.primary-nav > ul > li:last-child:after {
					content: " ";
				}

			.primary-nav > ul > li > a {
				color: #777;
				-webkit-transition: .07s ease-in;
				-moz-transition: .07s ease-in;
				-o-transition: .07s ease-in;
				transition: .07s ease-in;
			}

				.primary-nav > ul > li > a:hover {
					color: white;
					text-decoration: none;
				}


.content-title {
	font-size: 52px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 62px;
}

/**
 * Responsive!
 */

@media (min-width: 0px) and (max-width: 940px) {

	body {
		margin: 0;
		padding: 0;
	}

	.container,
	.header-unit {
		min-width: 400px;
		max-width: 940px;
	}

	.container {
		padding: 0 30px;
	}

	.header-unit {
		margin-bottom: 30px;
		padding: 0;
	}

		.header-unit .header-title {
			float: none;
		}

	.hero-unit {
		padding: 30px 50px;
	}

		.hero-unit h1 {
			font-size: 36px;
		}

		.hero-unit small {
			font-size: 18px;
		}

	.primary-nav {
		float: none;
		margin: 0;
	}

		.primary-nav > ul {
			margin: 0 0 10px;
		}
}