<h3 class="section"><a href="{{ url('seer_ukd_wright_admin_gallery') }}">Portfolio</a></h3>
<p>Here, you can manage categories and galleries.</p>
<p>Categories are used to organise galleries, all galleries must be put in a category.</p>
<p>Galleries allow you to store images and videos, galleries must be given a name and a description.</p>
<br />
<a href="{{ url('seer_ukd_wright_admin_gallery_new') }}" class="btn btn-block btn-success"><i class="flaticon16 flaticon16-plus-2"></i>New Gallery</a>
<a href="{{ url('seer_ukd_wright_gallery_homepage') }}" class="btn btn-block"><i class="flaticon16 flaticon16-plus-1"></i>View Portfolio</a>