<h3 class="section"><a href="{{ url('seer_ukd_wright_admin_gallery') }}">Portfolio</a></h3>
<p>Manage your galleries and their images. You can also see useful statistics about your galleries.</p>
<div class="sep"></div>
<p>You have <strong style="color: #ddd;">{{ galleries|length }}</strong> galleries.</p>
<br />
<a href="{{ url('seer_ukd_wright_gallery_homepage') }}" class="btn btn-block"><i class="flaticon16 flaticon16-switch-window-1"></i>View Portfolio</a>