<div class="header-unit">
	<div class="container">
		<h2 class="header-title">
			David Wright <span class="muted">Images</span><br />
		</h2>
		<nav role="navigation" class="primary-nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>