{##
 #  Page metadata
 #}
{% extends ':Admin:master.html.twig' %}

{% block title %}New Gallery{% endblock %}


{##
 #  Page content
 #}
{% block body %}

    <section class="page-title">
        <h1>Add Gallery</h1>
    </section>
    <section class="main">
        {{ form_start(form) }}

            <div>
                {{ form_errors(form.gallery) }}
                {{ form_widget(form.gallery) }}
            </div>

            <p class="text-right">
                <input class="btn btn-success" type="submit" />
            </p>

        {{ form_end(form) }}
    </section>

{% endblock %}
