/*!
 * SeerUK - DWright
 * GalleryBundle
 *
 * Copyright 2012 Elliot Wright
 * Created to stylishly craft galleries on my dads website...
 * Very modern and stylish indeed...
 */

/**
 * Galleries
 */
.galleries {
	display: block;
	list-style: none;
	margin: 20px 0;
	width: 100%;
}

	.galleries > li {
		margin: 0 3.5% 30px 0;
		padding-bottom: 31%;
		width: 31%;
		display: block;
		float: left;
	}

	.galleries > li:nth-child(3n) {
		margin-right: 0;
	}

		.galleries > li > div {
			position: relative;
		}

			.galleries > li > div > img {
				opacity: 0.7;
				position: relative;
				width: 100%;
				z-index: 1;
			}

			.galleries > li > div > .desc {
				display: none;
			}

			.galleries > li > div:hover > .desc {
				background-color: rgba(52, 52, 52, .8);
				bottom: 0;
				display: block;
				left: 0;
				padding: 6% 8%;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 3;
			}

				.galleries > li > div > .desc > .entry-title {
					color: white;
					display: block;
					font-size: 40px;
					font-weight: 200;
					line-height: 54px;
					margin: 0 0 25px;
					padding: 0 0 25px;
					position: relative;
				}

					.galleries > li > div > .desc > .entry-title:after {
						content: " ";
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 25px;
						border-bottom: solid 1px #5A5A5A;
					}

				.galleries > li > div > .desc > p {
					color: #ccc;
					font-size: 14px;
					line-height: 20px;
				}

				.galleries > li > div > .desc .posted {
					color: #f74f4f;
				}