/*!
 * SeerUK - DWright
 * GalleryBundle
 *
 * Copyright 2012 Elliot Wright
 * Created to stylishly craft galleries on my dads website...
 * Very modern and stylish indeed...
 */

/**
 * Gallery Categories
 */
.category-desc {
	background-color: white;
	color: #444;
	font-size: 16px;
	line-height: 28px;
	padding: 30px 50px;
}

/**
 * Galleries
 */
.thumbnails {
	display: block;
	list-style: none;
	margin: 0;
	width: 100%;
}

	.thumbnails > li {
		margin: 0 3.5% 3.5% 0;
		width: 48.2%;
		display: block;
		float: left;
	}

	.thumbnails > li:nth-child(2n) {
		margin-right: 0;
	}

		.thumbnails > li > div {
			position: relative;
		}

			.thumbnails > li > div > img {
				opacity: 0.7;
				position: relative;
				width: 100%;
				z-index: 1;
			}

			.thumbnails > li > div > .overlay {
				background-color: #2C2F31;
				bottom: 0;
				display: block;
				left: 0;
				opacity: 0;
				padding: 6% 8%;
				position: absolute;
				right: 0;
				top: 0;
				-webkit-transition: opacity .1s ease-in;
				-moz-transition: opacity .1s ease-in;
				-o-transition: opacity .1s ease-in;
				transition: opacity .1s ease-in;
				z-index: 3;
			}

			.thumbnails > li > div:hover > .overlay {
				opacity: 1;
			}

				.thumbnails > li > div > .overlay > .entry-title {
					color: white;
					display: block;
					font-size: 40px;
					font-weight: 200;
					line-height: 54px;
					margin: 0 0 25px;
					overflow: hidden;
					padding: 0 0 25px;
					position: relative;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

					.thumbnails > li > div > .overlay > .entry-title:after {
						content: " ";
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 25px;
						border-bottom: solid 1px #5A5A5A;
					}

				.thumbnails > li > div > .overlay > p {
					color: white;
					font-size: 14px;
					line-height: 24px;
				}

				.thumbnails > li > div > .overlay > .desc {
					bottom: 80px;
					display: block;
					left: 8%;
					overflow: hidden;
					position: absolute;
					right: 8%;
					top: 129px;
					word-wrap: break-word;
				}

					.thumbnails > li > div > .overlay > .desc:after {
						bottom: 0;
						box-shadow: inset 0 -44px 30px -20px #2C2F31;
						content: " ";
						display: block;
						height: 40px;
						left: 0;
						position: absolute;
						right: 0;
					}

				.thumbnails > li > div > .overlay > .posted {
					bottom: 8%;
					overflow: hidden;
					position: absolute;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

@media (min-width: 0px) and (max-width: 940px) {
	/* Just modify some of bootstraps stuff for galleries here... */
	.row-fluid .span4,
	.row-fluid .span8 {
		display: block;
		float: none;
		margin: 0 0 20px;
		width: auto;
	}
}