<div class="sidebar">
    <nav>
        <ul class="menu">
            <li><a class="sidebar-icon sidebar-icon-gallery" href="#">Gallery</a></li>
            <li><a class="sidebar-icon sidebar-icon-gallery" href="#">Gallery</a></li>
            <li><a class="sidebar-icon sidebar-icon-gallery" href="#">Gallery</a></li>
            <li><a class="sidebar-icon sidebar-icon-gallery" href="#">Gallery</a></li>
        </ul>
    </nav>
</div>