<div class="container-nav">
    {% include ':Admin:primary_nav.html.twig' %}

    <ul class="nav nav-user">
        <li>
            <a class="nav-anchor" href="{{ path('seer_ukd_wright_account_logout') }}">
                <i class="icon flaticon stroke logout-1"></i><br />
                <span class="name">Sign Out</span>
            </a>
        </li>
    </ul>
</div>
