<div class="header-unit">
	<div class="container">
		<h2 class="header-title">
			<a href="{{ url('seer_ukd_wright_core_homepage') }}">David Wright <span class="muted">Images</span></a><br />
		</h2>

		{% include 'SeerUKDWrightCoreBundle:Core:primary_nav.html.twig' %}

	</div>
</div>